<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>ACCESS.CODE</title>
</head>
<body>
<div class="terminal">
    <h2>Bienvenue dans ACCESS.CODE</h2>
    <form method="POST">
        <input type="text" name="access_code" placeholder="ENTER ACCESS.CODE">
        <button type="submit">UNLOCK</button>
    </form>
    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
</div>
</body>
</html>