<!DOCTYPE html>
<html>
<head>
    <title>EX_TENSIA</title>
    <style>
        body {
            background: black;
            color: #00ffd0;
            font-family: 'Courier New', Courier, monospace;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        h1 {
            text-shadow: 0 0 5px #00ffd0, 0 0 15px #00ffd0;
        }
        audio {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>// ISOLD'S CODE : TENSIA STREAMING</h1>
    <audio controls>
        <source src="/static/audio/TENSIA.mp3" type="audio/mpeg">
    </audio>
</body>
</html>
